# Byte-compiled files
__pycache__/

# Distribution / packaging
streamlit_ketcher/frontend/build
build/
dist/

# Python Environment
venv/
*.egg-info/

# Node libraries
streamlit_ketcher/frontend/node_modules/

# Jetbrain IDE
.idea
